<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="logfile" xsi:type="File" fileName="logs/KafkaSniffer.log" lineEnding="LF" archiveAboveSize="67108864" ConcurrentWrites="false" maxArchiveFiles="3"   />
    <target name="consumer" xsi:type="File" fileName="logs/Consumer.log" lineEnding="LF" archiveAboveSize="67108864" ConcurrentWrites="false" maxArchiveFiles="3"   />
    <target name="producer" xsi:type="File" fileName="logs/Producer.log" lineEnding="LF" archiveAboveSize="67108864" ConcurrentWrites="false" maxArchiveFiles="3"   />
  </targets>

  <rules>
    <logger name="consumer" minlevel="Debug" writeTo="consumer" final="true" />
    <logger name="producer" minlevel="Debug" writeTo="producer" final="true" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>